* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: #f0f2f5;
	/* min-height: 100vh; */
	font-family: Helvatica, Arial, sans-serif;
	padding-bottom: 112px;
	padding-top: 72px;
	font-size: 12px;
}
.container {
	width: 1060px;
	min-width: 1060px;
	/* border: 2px solid green; */
	margin: 0 auto;
}
.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	/* gap: 32px; */
}

.left {
	grid-column: 1/5;
	/* border: 1px solid rebeccapurple; */
}

.logo {
	height: 106px;
	margin: -28px;
}
.right {
	grid-column: 6/9;
	border: none;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
	/* border: 1px solid red; */
}

.text {
	color: #1c1e21;
	font-size: 2.2em;
	margin: 0;
	padding: 16px 0 20px 0;
}

.form-group {
	background: #ffffff;
	padding: 10px 10px 24px 10px;
	border-radius: 8px;
}

form {
	border-bottom: 1px solid #dddfe2;
}

.email-phonenumber,
.password,
.btn {
	width: 100%;
	padding: 6px 0px;
}

input:not([type='submit']) {
	padding: 14px 16px;
	font-size: 1.5em;
	border-radius: 6px;
	border: 1px solid #dddfe2;
	color: #1d2129;
}

input {
	width: 100%;
}

.button {
	color: white;
	background-color: #1877f2;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	padding: 0 16px;
	line-height: 48px;
	font-weight: bold;
	cursor: pointer;
}

.forgot-password {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 24px;
}

.forgot-password a {
	cursor: pointer;
	text-decoration: none;
	color: #1877f2;
	font-size: 14px;
	font-weight: 500;
}

.forgot-password a:hover {
	text-decoration: underline;
}

.create-account {
	text-align: center;
	margin-top: 24px;
}

.create-account .button {
	background-color: #42b72a;
}
